// main
.main-wrap {
  position: relative;
  z-index: 10;
}

// content
.content {
  margin: 30% auto 0 auto;
  text-align: center;
}
.icon-deepnic-logo {
  color: #fff;
  font-size: 2.6em;
  margin: 0;
}

// video background
#video-bg {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: hidden;
  z-index: 0;
  > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @media (min-aspect-ratio: 16/9) {
      height: 300%;
      top: -100%;
    }
    @media (max-aspect-ratio: 16/9) {
      width: 300%;
      left: -100%;
    }
  }
}
/* 2. If supporting object-fit, overriding (1): */
@supports (object-fit: cover) {
  #video-bg > video {
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
  }
}
